#map {
    width: 100%; 
	height: 100%;
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
}

.leaflet-container {
	font-family: Futura, sans-serif;
}

#info_text {
	font-size: 40px;
	color: rgb(113, 121, 126);
	text-shadow: 4px 4px rgb(192, 192, 192);
}